@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= Fonts ================= */
@layer base {
  @font-face {
    font-family: 'MTNIrancell-Bold';
    src: url('/fonts/MTNIrancell-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-DemiBold';
    src: url('/fonts/MTNIrancell-DemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-ExtraLight';
    src: url('/fonts/MTNIrancell-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-Light';
    src: url('/fonts/MTNIrancell-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-Medium';
    src: url('/fonts/MTNIrancell-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Oi-Regular';
    src: url('/fonts/Oi-Regular.ttf') format('truetype');
    font-display: swap;
  }
}

/* ================= Components ================= */
@layer components {
  .title-gradient {
    @apply text-5xl font-bold bg-gradient-to-r from-teal-400 to-blue-800 dark:from-teal-300 dark:to-indigo-500 bg-clip-text text-transparent transition-colors duration-300;
  }

  .custom-shape-divider-bottom-1765819244 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1765819244 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);

  }

  .hero-grid {

    display: grid;
    grid-template-columns: [bg-start] 5% [img-start] 40% [img-end] 10% [text-start] 40% [text-end] 5% [bg-end];
    grid-template-rows: [bg-start] 10vh [img-start] 20vh [text-start] 60vh [text-end] 10vh [img-end bg-end] ;
  }

  .hero-img {
    grid-column: img;
    grid-row: img;
  }

  .hero-text {
  grid-column:text ;
  grid-row: text;
  }



}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: [bg-start] 10% [img-start text-start] 80% [img-end text-end] 10% [bg-end];
    grid-template-rows:[bg-start] 25vh [text-start] 50vh [text-end] 35vh [img-start] 90vh [img-end bg-end] ;
  }
}