@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'MTNIrancell-Bold';
        src: url('../public/fonts/MTNIrancell-Bold.ttf');
    }
}

@layer base {
    @font-face {
        font-family: 'MTNIrancell-DemiBold';
        src: url('../public/fonts/MTNIrancell-DemiBold.ttf');
    }
}

@layer base {
    @font-face {
        font-family: 'MTNIrancell-ExtraLight';
        src: url('../public/fonts/MTNIrancell-ExtraLight.ttf');
    }
}

@layer base {
    @font-face {
        font-family: 'MTNIrancell-Light';
        src: url('../public/fonts/MTNIrancell-Light.ttf');
    }
}

@layer base {
    @font-face {
        font-family: 'MTNIrancell-Medium';
        src: url('../public/fonts/MTNIrancell-Medium.ttf');
    }
}

@layer components {
    .title-gradient {
        @apply text-5xl font-bold bg-gradient-to-r from-teal-400 to-blue-800 bg-clip-text text-transparent;
    }
}